*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0d1117;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
background:#161b22;
padding:40px;
border-radius:15px;
width:400px;
text-align:center;
box-shadow:0 0 20px rgba(0,255,255,.2);
}

h1{
font-size:35px;
margin-bottom:10px;
color:#00c8ff;
}

p{
margin-bottom:20px;
color:#bfbfbf;
}

.progress{
width:100%;
height:12px;
background:#2d333b;
border-radius:20px;
overflow:hidden;
margin:20px 0;
}

#bar{
width:0%;
height:100%;
background:#00c8ff;
transition:.1s;
}

#time{
font-size:45px;
margin:20px 0;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
background:#00c8ff;
color:white;
font-size:18px;
cursor:pointer;
}

button:disabled{
background:#555;
cursor:not-allowed;
}
